@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Josefin+Sans&family=Nerko+One&family=Open+Sans:ital@1&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  height: 100vh;
}
body .website header {
  margin: 2% 0;
}
body .website header .container .header-content .logo {
  width: 10%;
}
body .website main {
  margin-bottom: 7%;
}
body .website main .container {
  width: 80%;
  margin: 0 auto;
}
body .website main .container .main-content .main-section {
  display: flex;
  justify-content: space-between;
}
body .website main .container .main-content .main-section .main-section-text, body .website main .container .main-content .main-section .main-section-img {
  width: 50%;
}
body .website main .container .main-content .main-section .main-section-text .main-section-logos {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 5%;
  align-items: center;
}
body .website main .container .main-content .main-section .main-section-text .main-section-logos div {
  display: flex;
}
body .website main .container .main-content .main-section .main-section-text .main-section-logos p {
  font-size: 22px;
  width: 80%;
}
body .website main .container .main-content .main-section .main-section-text .main-section-logos img {
  height: 20%;
  width: 20%;
}
body .website main .container .main-content .main-section .main-section-text h1 {
  font-size: 80px;
}
body .website main .container .main-content .main-section .main-section-text p {
  font-size: 20px;
}
body .website main .container .main-content .main-section .main-section-img {
  display: flex;
  justify-content: center;
}
body .website main .container .main-content .main-section .main-section-img img {
  width: 50%;
}
body .website main .container .main-content .poem-section {
  display: flex;
  justify-content: center;
}
body .website main .container .main-content .poem-section .poem {
  padding: 3%;
  background: #1d4681;
  color: white;
  font-size: 2em;
  margin: 7% 0;
  border-radius: 1.3%;
}
body .website main .container .main-content .poem-section .poem .poem-text {
  text-shadow: 3px 2px black;
}
body .website main .container .main-content .poem-section .poem .autor {
  font-size: 0.6em;
  text-align: end;
}
body .website main .container .main-content .course-programm h2 {
  font-size: 4em;
  margin-bottom: 5%;
}
body .website main .container .main-content .course-programm .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
}
body .website main .container .main-content .course-programm .cards .card {
  border-radius: 30px;
  box-shadow: 3px 3px 3px;
  padding-left: 10px;
}
body .website main .container .main-content .course-programm .cards .card img {
  width: 100%;
}
body .website main .container .main-content .course-programm .cards .card h2 {
  font-size: 30px;
}
body .website main .container .main-content .course-programm .cards .card p {
  font-size: 25px;
}
body .website footer .container {
  background: #9dc9c7;
  width: 100%;
  padding-left: 7%;
  padding-right: 30%;
}
body .website footer .container .footer-content {
  padding: 15% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .website footer .container .footer-content .course-start {
  margin-bottom: 5%;
  margin-left: 10%;
  font-size: 2.5em;
}
body .website footer .container .footer-content .course-cost {
  margin-bottom: 5%;
  margin-left: 10%;
}
body .website footer .container .footer-content .course-cost h2 {
  font-size: 2.7em;
}
body .website footer .container .footer-content .about-course {
  margin-bottom: 5%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}
body .website footer .container .footer-content .about-course .text1, body .website footer .container .footer-content .about-course .text2 {
  font-size: 1.2em;
}
body .website footer .container .footer-content .about-course .text1 .head-p, body .website footer .container .footer-content .about-course .text2 .head-p {
  font-size: 1.5em;
  margin-bottom: 3%;
}/*# sourceMappingURL=style.css.map */